doctype html
html(lang="en")
    head
        title Pipelines
        script(type='text/javascript').
        link(rel='stylesheet', href='../public/style.css')
        style
            include ../public/style.css
    body
    h2 Pipelines List
        if data
            ol.alternating-colors
                each dot in data
                    li
                        strong Pipeline #{dot.id}
                        p
                        strong Name:
                        |#{dot.name}
                        ul
                            each status in dot.statuses
                                p
                                strong Status ID:
                                | #{status.id}
                                p
                                strong Status label:
                                |#{status.label}
                                p
                                strong Status type:
                                |#{status.type}
                        p
                        strong Created By:
                        |#{dot.created_by}
                        p
                        strong Updated By:
                        |#{dot.updated_by}
                        p
                        strong Date created:
                        |#{dot.date_created}
                        p
                        strong Date update:
                        |#{dot.date_updated}
                        p
                        strong Organization:
                        |#{dot.organization_id}


