doctype html
html(lang="en")
    head
        title Pipelines
        script(type='text/javascript')
        script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')

        link(rel='stylesheet', href='../public/style.css')
        style
            include ../public/style.css
    body
    h2 Pipelines List
        if data
            ol.alternating-colors
                each pipeline in data
                    li
                        strong Pipeline ID:&nbsp #{pipeline.id}&nbsp
                            button
                                a(style='text-decoration: none' href='opportunity/' + pipeline.id) Get opportunities
                        p
                        strong Name:&nbsp
                        |#{pipeline.name}
                        ul
                            each status in pipeline.statuses
                                p
                                strong Status ID:&nbsp
                                | #{status.id}
                                p
                                strong Status label:&nbsp
                                |#{status.label}
                                p
                                strong Status type:&nbsp
                                |#{status.type}
                        p
                        strong Created By:&nbsp
                        |#{pipeline.created_by}
                        p
                        strong Updated By:&nbsp
                        |#{pipeline.updated_by}
                        p
                        strong Date created:&nbsp
                        |#{pipeline.date_created}
                        p
                        strong Date update:&nbsp
                        |#{pipeline.date_updated}
                        p
                        strong Organization:&nbsp
                        |#{pipeline.organization_id}


